.career-selector, .selected-career {
    @include center-child;
    flex-direction: column;
    gap: 10px;
};

.career-blank {
    height: 0;
}
.career-container {
    margin: auto;
    width: 60%;
    height: 600px;
    position: relative;
    .selected-career {
        position: absolute;
    };
}
