.career-selector, .selected-career {
    @include center-child;
    flex-direction: column;
    gap: 10px;
};

.career-blank {
    height: 0;
}
.career-container {
    margin: auto;
    width: 90vw;
    height: 1000px;
    position: relative;
    overflow-x: hidden;
    .selected-career {
        position: absolute;
        // width: 80%;
        -webkit-animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
        animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
        @-webkit-keyframes swing-in-top-fwd {
            0% {
              -webkit-transform: rotateX(-100deg);
                      transform: rotateX(-100deg);
              -webkit-transform-origin: top;
                      transform-origin: top;
              opacity: 0;
            }
            100% {
              -webkit-transform: rotateX(0deg);
                      transform: rotateX(0deg);
              -webkit-transform-origin: top;
                      transform-origin: top;
              opacity: 1;
            }
          }
          @keyframes swing-in-top-fwd {
            0% {
              -webkit-transform: rotateX(-100deg);
                      transform: rotateX(-100deg);
              -webkit-transform-origin: top;
                      transform-origin: top;
              opacity: 0;
            }
            100% {
              -webkit-transform: rotateX(0deg);
                      transform: rotateX(0deg);
              -webkit-transform-origin: top;
                      transform-origin: top;
              opacity: 1;
            }
          }
    };
    .career-note {
        width: 80%;
        font-size: 14px;
        span {
                text-decoration: underline;
        }
    }
}