.identity {
    @include center-child;
    flex-direction: column;
    gap: 10px;
    padding-top: 2rem;
    .character-base {
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 1fr 1fr 2fr 2fr; 
        gap: 5px 0px; 
        .select-container, .display-container, .character-btn, .portrait-frame {
            @include center-child;
            flex-direction: column
        }
        .display-container {
    
        }
        .character-btn {
            .random-all-btn {
                background-color: aqua;
            }            
        }
        .portrait-frame {
            .frame {
                z-index: 5;
            }
            .avatar {
                position: absolute;
                z-index: 1;
            }
        }

    }
    input {
        text-align: center;
    }
    .input-container {
        position: relative;
        display: inline-block;
        .input-suffix {
            position: absolute;
            top: 60%;
            right: 30%;
            transform: translateY(-50%);
        } 
    }
}