.identity {
    @include center-child;
    flex-direction: column;
    gap: 10px;
    padding-top: 2rem;
    .character-base {
        @include center-child;
        gap: 50px;
        .select-container {

        }
        .random-all-btn {
            background-color: aqua;
        }
    }
    input {
        text-align: center;
    }
    .input-container {
        position: relative;
        display: inline-block;
        .input-suffix {
            position: absolute;
            top: 60%;
            right: 30%;
            transform: translateY(-50%);
        } 
    }
}