.detail-container {
    @include center-child;
    flex-direction: column;
    width: 600px;
    .div-container {
        border: 2px solid black;
        padding: 50px 20px 20px;
        margin-top: -30px;
        .label-div-container {
            display: flex;
            justify-content: space-between;
            gap: 20px
        }
        .input-btn-container {
            @include center-child;
            border: 1px solid black;
            gap: 10px;
            padding-right: 10px;
        }
        .input-container {
            position: relative;
            .input-suffix {
                position: absolute;
                top: 50%;
                right: 20%;
                transform: translateY(-50%);
            } 
        }
    }
}