.profils-container {
    table {
        border-collapse: collapse;
        margin: 1rem 0;
        .empty-head {
            border: none;
        }
        .stat-short {
            background-color: rgb(120, 61, 15);
            color: whitesmoke;
        }
        .descriptive-box {
            border: 1px solid black;
        }
        th, .stat-box {
            border: 1px solid black;
            padding: 5px;
            position: relative;
            .base-stat {
                height: 30px;
                width: 100%;
                text-align: center;
                font-size: 1.2rem;
            }
            .modified-stat {
                @include center-child;
                height: 60px;
                width: 150px;
                font-size: 1.6rem;
            }
            .random-btn {
                display: block;
                margin: auto;
            }            
        }
    }
}

