@font-face {
    font-family: "font-1";
    src: url(../assets/fonts/Moria_DF.TTF);
}

$font-1: "font-1", sans-serif;

$color-1: #dee2e5;
$color-2: rgba(152, 192, 212, 0.7);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}
html {
    scroll-behavior: smooth;
}

@mixin flex-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
@mixin center-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    @include center-child;
    flex-direction: column;
    gap: 10px;
    background-image: url('../background/backOldParchment.webp');
    background-size: cover;
    padding-top: 2rem;
    h1, h2, h3 {
        font-family: font-1;
    }
    h2 {
        font-size: 1.3rem;
        color: white;
        background-color: black;
        padding: 10px;
        width: auto;
        height: 60px;
        width: fit-content;
        -webkit-mask: 
          url('../background/paperTop.webp')
            top   /auto 20px repeat-x,
          linear-gradient(white, white) no-repeat
            center/100% calc(100% - 2*50px),
          url('../background/paperBottom.webp')
           bottom/auto 40px repeat-x;
    }
    .main-section {
        padding-left: 2rem;
        .detail-profil-container {
            display: grid; 
            grid-auto-columns: 1fr; 
            grid-template-columns: 1fr 2fr; 
        }
    }
    p {
        font-size: 0.8rem;
    }
}